.flex-items p{
    display: inline;
    color: black;
}

.flex-items p:hover{
    cursor: pointer;
    color: grey;
}

button:hover{
    cursor: pointer;
}

.tab-names{
    white-space: nowrap; 
    width: 120px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-items{
    text-align: left;
}

.arrowButton-tab{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

