*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
.sidebar {
    width: 100%;
    display: flex;
    gap:10%;
}
.container {
    width: 18em;
    height:95vh;
    margin-top: 2em;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color:white;
    box-shadow: 0px 0px 5px grey;
}
.item1{
    padding-top: 30px;
}
.item2{
    padding-top: 30px;
}
.link {
    text-decoration: none;
    color: white;
    align-self: center center;
}
.add-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
.form-container {
    align-items: center;
    margin: auto auto;
    justify-content: center;
    transition: transform 0.3s ease;
}
.show {
    transform: translateX(0);
}
.hide {
    transform: translateX(100%);
}
.btn1:hover{
    color:blue;
    padding:10px 0px 10px 0px;
}
.add-button:hover{
    background-color:blue;
}