.add-domain-object {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .form-section {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #0e61b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    width: 150px;
    margin: 10px 1px;
  }
  .remove-button {
    padding: 10px 20px;
    background-color: #0e61b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    width: 150px;
  }
  .submit-button,
  .go-back-button {
    padding: 10px 20px;
    background-color: #0e61b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    width: 80px;
  }
  
  .add-button:hover,
  .remove-button:hover,
  .submit-button:hover,
  .go-back-button:hover {
    background-color: #0056b3;
  }
  
  .method {
    border: 1px solid #9f9c9c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  
  .input,
  .output {
    border: 1px solid #9f9c9c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 97%;
  }
  
  .method h3 {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .property {
    border: 1px solid #9f9c9c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
  
  .remove-button {
    background-color: #ff4136;
  }
  
  .remove-button:hover {
    background-color: #d0021b;
  }
  
  .go-back-button {
    background-color: #333;
  }
  
  .go-back-button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .submit-button {
    background-color: #4caf50;
    padding: 10px 2.5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    width: 150px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  h2 {
    text-align: left; 
  }
  