/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Styles for the App header */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Additional styles for the form */
div.form-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  /* Add margin to separate from header */
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

input[type="text"] {
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button {
  background-color: #0e61b4;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  margin: 1rem;
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button:hover {
  background-color: #0a4d90;
}

.domain {
  padding: 1rem;
  background-color: #ffffff;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.properties {
  padding: 1rem;
  background-color: #ffffff;
  margin: 1rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.methods {
  padding: 1rem;
  background-color: #ffffff;
  margin: 1rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

/* InputField.css */

.InputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 16px;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #007bff; /* Change the border color when input is focused */
}
